// .pudelko {
//   width: 200px;
//   height: 200px;
//   background-color: red;
//   perspective: 600px;
//   perspective-origin: 50% 50%;
// }

// @keyframes boxanimation {
//   0% {
//     transform: rotateY(90deg);
//   }
//   50% {
//     transform: rotateY(0deg);
//   }
//   100% {
//     transform: rotateY(90deg);
//   }
// }


// .innerpudelko {
//   width: 100px;
//   height: 100px;
//   background-color: green;
//   transform: rotateY(90deg);
//   animation: boxanimation 2s ease-in-out infinite;
// }


.mainContainer {
    display: flex;
    flex-direction: row;
    // background-color: red;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}

.leftInternalContainer {
 display: flex;
 justify-content: right;
 width: 50%;
 padding: 30px;
}

.rightInternalContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 30px;
}   

.rightInternalContainer2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 700px;
  height: 500px;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
    
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
    
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.mobile {
    color: black;
    width: 100%;
    max-width: 300px;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    border-radius: 30px;
    animation: float 6s ease-in-out infinite;
  }

  img {
    width: 100%;
  }

  .item {
    background-color: rgb(242, 240, 240);
    margin: 5px;
    width: 300px;
    // max-width: 300px;
    padding: 5px;
    border-radius: 5px;
  }

  .item:hover {
    background-color: rgb(201, 201, 201);
  }

@media screen and (max-width: 600px){
    .mainContainer {
        flex-direction: column;
    }
    .rightInternalContainer {
        justify-content: right;
        align-items: center;
        height: 700px;
        width: 100%;
    }
    .leftInternalContainer {
        justify-content: center;
        align-items: top;
        width: 100%;
        height: 700px;
    }

    .mobile {
      height: 650px;
    }
}