.mainContainer {
    display: flex;
    flex-direction: row;
    // background-color: red;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.leftInternalContainer {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 30px;
 width: 50%;
 height: 500px;
//  background-color:green;
}

.rightInternalContainer {
    display: flex;
    flex-direction: column;
    // background-color: green;
    margin: 30px;
    width: 50%;
    align-items: center;
    justify-content: start;
}   

.mobile {
    color: black;
    width: 100%;
    max-width: 300px;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  }

  img {
    width: 100%;
  }

  .item {
    background-color: rgb(242, 240, 240);
    margin: 10px;
    width: 250px;
    // max-width: 300px;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .item:hover {
    background-color: rgb(201, 201, 201);
  }



@media screen and (max-width: 600px){
    .mainContainer {
        flex-direction: column;
    }
    .rightInternalContainer {
      width: 50%;
      align-items: center;
      height: 600px;
    }
    .leftInternalContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 600px;
    }
}