.mainContainer {
    display: flex;
    width: 100%;
    // background-color: rgb(169, 252, 169);
    align-items: center;
    padding: 20px;

}

.logoContainer {
    display: flex;
    width: 20%;
    // background-color: red;


}

.linksContainer {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-right: 10%;

}

.iconButtonContainer {
    display: flex;
    justify-content: flex-end;
    


}

.icon {


}