@keyframes slideInLeft {
    0% {    transform: translate(-150px, -50px) rotate(-5deg);
            
            opacity: 0;                 }
    100% {  transform: translate(0,0) rotate(0deg);
            
            opacity: 1;   }
  }


.mainContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.logoContainer {
    display: flex;
    width: 20%;
    
    
}

.linksContainer {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    // margin-right: 10%;
    
    
}

.iconButtonContainer {
    display: flex;
    justify-content: flex-end;
        // background-color: red;


}

.iconButton {
    color: rgb(192, 191, 191);
    display: none;

}

.iconItem {
    display: block;
    padding: 4px;

    font-size: 50px; 
    opacity: 0.1; 
    margin-right: 2px;
    // visibility: hidden;
    display: none;
}

.Linki {
    font-size: 1rem;

    text-decoration: none;
    margin-right: 10%;
    color: rgb(155, 155, 155);
    
}

.Linki:hover {
    color: rgb(104, 104, 104);
}



@media screen and (max-width: 600px){
    .iconButton{
        display: flex;

    }

    .linksContainer {
        display: none;
        flex-direction: column;
        margin-top: 50px;
        padding-top: 40px;
        padding-bottom: 400px;
        // background-color: red;
    }

    .makeVisible {
        display: flex;
    }

    .mainContainer {
        align-items: flex-start;
    }
    
    .Linki {
        display: flex;
        font-size: 2rem;
        color: rgb(133, 132, 132);
        padding-top:10px;
        padding-bottom:10px;
        background-color: rgba(182, 182, 182, 0.6);
        margin-top: 20px;
        width: 90%;
        text-align: center;
        border-radius: 10px;
        animation: 0.3s ease-out 0s 1 slideInLeft;
    }

    .Linki:hover {
        background-color: rgba(182, 180, 180, 0.9);
        color: white;
    }
}